.mypage-container {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-height: calc(100vh - 100px);
    justify-content: space-between;
}

.mypage-left {
    flex: 1;
    padding-right: 40px;
    border-right: 1px solid #e0e0e0; 
    position: relative;
}

.mypage-right {
    flex: 1;
    padding-left: 40px;
}

.mypage-profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
}

.mypage-profile-img {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.mypage-profile-name {
    display: block;
    width: 120px; 
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
    word-wrap: break-word; 
    margin-top: 5px; 
    line-height: 1.4; 
}

.mypage-profile-edit-button {
    position: absolute;
    right: 20px;
    background-color: #1a2b50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 13px;
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.mypage-profile-edit-button:hover {
    background-color: #0f1c3c; 
    color: white;
}

.mypage-profile-info {
    text-align: left;
    margin-top: 20px;
}

.mypage-basic-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mypage-info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: 500;
    color: #7f8081;
}

.mypage-info-item-tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 1rem;
}

.mypage-job-info{
    margin-left: 10px;
}

.mypage-info-title{
    font-weight: bold;
    margin-bottom: 20px;
}

.mypage-info-item input,
.mypage-info-item textarea,
.mypage-intro textarea {
    border: none;
    margin-bottom: 10px;
    background-color: transparent; 
    outline: none; 
    font-size: 1rem;
    width: 40%;
}

.mypage-intro textarea{
    width: 300px;
    height: 300px;
    padding: 10px; 
    resize: none;
    box-sizing: border-box;
}

.mypage-info-item input:focus,
.mypage-info-item textarea:focus,
.mypage-intro textarea:focus {
    border-bottom: 2px solid #1a2b50;
}

.mypage-edit-buttons {
    margin-top: 20px;
    text-align: right; 
}

.mypage-save-button{
    color: white;
    background-color: #1a2b50;
}

.mypage-save-button, .mypage-cancel-button {
    padding: 8px 15px;
    border: 1px solid #1a2b50;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.mypage-save-button:hover {
    background-color: #1a2b50;
    color: white;
}

.mypage-cancel-button:hover {
    background-color: #f5f5f5;
}

.mypage-tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.mypage-tab-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
}

.mypage-tab-button.active {
    background-color: #1a2b50;
    color: white;
}

.mypage-tab-button:hover {
    background-color: #e0e0e0;
}

.mypage-hr, .mypage-intro {
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    background-color: #fafafa;
}

.mypage-profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer; /* 클릭 가능 표시 */
}

.mypage-password-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px; 
}

.mypage-password-checkbox {
    cursor: pointer;
    margin-left: 100px;
}

.mypage-password-label {
    font-size: 0.8rem;
    color: #333;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    margin-bottom: 10px;
}

.mypage-password-input{
    flex: 1; /* 입력창의 너비를 최대로 확장 */
    margin-right: 10px; /* 입력창과 체크박스 간 여백 */
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.mypage-change-password-button {
    position: absolute;
    right: 20px;
    background-color: #1a2b50;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    padding: 8px 13px;
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}
.mypage-change-password-button:hover{
    background-color: #0f1c3c; 
    color: white;
}
