.chat-enter-button {
  background-color: #1a2b50;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border: none; /* 테두리 없앰 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  cursor: pointer; /* 클릭 가능한 손 모양 */
  transition: background-color 0.3s ease; /* 배경색 변화 애니메이션 */
  margin-right: 10px;
}

.chat-enter-button:hover {
  background-color: #0f1c3c; /* 마우스 오버 시 배경색 변화 */
}

.chat-delete-button {
  background-color: #c2c2c2;
  color: rgb(26, 26, 26);
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border: none; /* 테두리 없앰 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  cursor: pointer; /* 클릭 가능한 손 모양 */
  transition: background-color 0.3s ease; /* 배경색 변화 애니메이션 */
}

.chat-delete-button:hover {
  background-color: #5c5c5c; /* 마우스 오버 시 배경색 변화 */
}

@media (max-width: 1200px) {
  .chat-enter-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .chat-delete-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 600px) {
  .chat-enter-button {
    font-size: 12px;
    padding: 6px 12px;
  }
  .chat-delete-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
