.chat-message-received {
  background-color: #e7e7e7; /* 수신 메시지 배경색 */
  color: #333;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  max-width: 60%;
  align-self: flex-start; /* 왼쪽 정렬 */
}

.chat-message-sent {
  background-color: #1a2b50; /* 발신 메시지 배경색 */
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
  width: fit-content;
  max-width: 60%;
  align-self: flex-end; /* 오른쪽 정렬 */
}

.chat-message-right {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: flex-end;
}

.chat-message-left {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: flex-start;
}

.chat-message-name {
  font-weight: bold; /* 이름 강조 */
  margin-left: 2px;
  display: block;
}

.chat-message-input {
  background-color: #1a2b50;
  color: white;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
}

.message-change-button {
  display: block; /* 세로로 배치 */
  color: black;
  padding: 5px 10px; /* 버튼 안의 여백 */
  background-color: white;
  border: 1px solid gray;
  text-align: center; /* 텍스트를 가운데 정렬 */
  cursor: pointer; /* 마우스 커서가 포인터로 변하게 설정 */
  font-size: 14px;
}

/* 호버 시 효과 */
.message-change-button:hover {
  background-color: #f0f0f0; /* 호버 시 배경색이 연한 회색으로 변경 */
}

.chat-message-time-right {
  font-size: 12px;
  color: #b9b9b9;
  display: flex;
  justify-content: flex-end;
  margin-right: 7px;
  margin-bottom: 10px;
}

.chat-message-time-left {
  font-size: 12px;
  color: #b9b9b9;
  display: flex;
  justify-content: flex-start;
  margin-left: 2px;
  margin-bottom: 10px;
}
