.chatroom-entire-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* 중앙 정렬 */
  padding: 20px;
  box-sizing: border-box;
}

.chatting-list-all-container {
  margin-top: 40px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  width: 100%;
}

.chatlist-box {
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #d8d8d87c;
  color: #000000;
  box-shadow: 0 -2px 5px rgba(65, 65, 65, 0.2);
}

.chatroom-page {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 화면의 전체 높이 */
  padding: 0 20px;
  margin-left: 25px;
}

.chatroom-page-container {
  width: 100%; /* 기본적으로 100% 너비 */
  max-width: 500px;
  background-color: white; /* 흰색 배경 */
  padding: 20px; /* 내부 여백 */
  border-radius: 5px; /* 둥근 모서리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  box-sizing: border-box; /* padding 포함 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소 정렬 */
  height: 70vh;
}

/* 채팅 내용이 있는 영역 */
.chat-body {
  flex-grow: 1; /* 채팅 영역이 가용 공간을 차지하도록 설정 */
  overflow-y: auto; /* 채팅 내용이 많을 경우 스크롤 */
  padding: 3px;
}

.chat-body::-webkit-scrollbar {
  width: 6px;
}

.chat-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.chat-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 입력란과 버튼 영역 */
.chat-input {
  display: flex;
  justify-content: space-between; /* 입력란과 버튼을 양옆으로 배치 */
  margin-top: 20px; /* 위쪽 여백 */
}

.chat-input input {
  width: 90%; /* 입력란의 너비 */
  padding: 10px;
  border-radius: 5px; /* 입력란 모서리 둥글게 */
  border: 1px solid #ccc; /* 테두리 */
}

.chat-input button {
  padding: 10px 15px;
  background-color: #1a2b50; /* 버튼 배경색 */
  color: white; /* 글자색 */
  border: none; /* 테두리 없음 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  cursor: pointer; /* 마우스 커서 변경 */
}

.chat-input button:hover {
  background-color: #325298; /* 버튼 hover 시 색상 변경 */
}

.message-group {
  margin-right: 2px;
  margin-bottom: 20px;
}

.message-date {
  text-align: center;
  margin-bottom: 10px;
  color: #3e3e3e;
  background-color: #f1f1f1d1;
  padding: 5px;
  border-radius: 50px;
}

.chat-calendar-icon {
  margin-right: 2px;
  margin-bottom: 3px;
}

@media (max-width: 1200px) {
  .chatroom-page {
    margin-top: 300px;
    flex-direction: column; /* 세로로 배치 */
  }

  .chatroom-list-all-container {
    order: 2; /* chatroom-entire-container 아래로 가도록 순서 변경 */
    max-width: 100%;
  }

  .chatroom-entire-container {
    order: 1; /* chatroom-list-all-container 위로 가도록 순서 변경 */
    max-width: 100%;
    margin: 10px 0;
    margin-left: 120px;
    padding: 10px;
  }

  .chatroom-page-container {
    max-height: 70vh; /* 화면의 60% 정도만 높이 사용 */
  }

  .chat-input input {
    width: 80%;
  }

  .chat-input button {
    width: 15%;
  }
}

.context-menu {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 8px;
  width: 150px;
  border-radius: 4px;
}

.context-menu div {
  padding: 8px;
  cursor: pointer;
}

.context-menu div:hover {
  background-color: #f0f0f0;
}
