.chatroom-page {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 화면의 전체 높이 */
  background-color: #f0f0f0;
  padding: 0 20px;
}

.chatroom-page-container {
  width: 100%; /* 기본적으로 100% 너비 */
  max-width: 500px;
  background-color: white; /* 흰색 배경 */
  padding: 20px; /* 내부 여백 */
  border-radius: 10px; /* 둥근 모서리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  box-sizing: border-box; /* padding 포함 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소 정렬 */
  height: 70vh;
}

/* 채팅 내용이 있는 영역 */
.chat-body {
  flex-grow: 1; /* 채팅 영역이 가용 공간을 차지하도록 설정 */
  overflow-y: auto; /* 채팅 내용이 많을 경우 스크롤 */
  max-height: '500px';
}

/* 입력란과 버튼 영역 */
.chat-input {
  display: flex;
  justify-content: space-between; /* 입력란과 버튼을 양옆으로 배치 */
  margin-top: 20px; /* 위쪽 여백 */
}

.chat-input input {
  width: 80%; /* 입력란의 너비 */
  padding: 10px;
  border-radius: 5px; /* 입력란 모서리 둥글게 */
  border: 1px solid #ccc; /* 테두리 */
}

.chat-input button {
  padding: 10px 15px;
  background-color: #1a2b50; /* 버튼 배경색 */
  color: white; /* 글자색 */
  border: none; /* 테두리 없음 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  cursor: pointer; /* 마우스 커서 변경 */
}

.chat-input button:hover {
  background-color: #325298; /* 버튼 hover 시 색상 변경 */
}
