.attendance-history-container {
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.date-search-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.pagination-container {
    margin-top: 20px;
}

.custon-table-container{
    background: #ffffff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.custom-table {
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-table thead th {
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 15px 20px;
    font-weight: 500;
    color: #333;
    text-align: left;
}

.custom-table tbody td {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

/* 마지막 행의 border 제거 */
.custom-table tbody tr:last-child td {
    border-bottom: none;
}

/* hover 효과 */
.custom-table tbody tr:hover {
    background-color: #fafafa;
}