/* 모달 스타일 */
.post-modal .modal-dialog {
    max-width: 800px; 
    width: 80%; /* 반응형 너비 */
}

.post-modal .modal-content {
    border-radius: 10px; /* 모서리 둥글게 */
    padding: 20px; /* 내부 여백 */
}

.post-modal-body .ck-editor__editable {
    min-height: 300px; /* CKEditor 텍스트 입력 영역의 최소 높이 */
    height: 380px; /* CKEditor 텍스트 입력 영역 높이 */
}

.post-modal-title-input,
.post-modal-hashtags-input {
    font-size: 1rem; /* 입력 필드 텍스트 크기 조정 */
}

.post-modal-footer .post-modal-cancel {
    background-color: #999999; /* 취소 버튼 색상 */
    color: #fff;
    border: none;
}

.post-modal-footer .post-modal-submit {
    background-color: #1a2b50; /* 등록 버튼 색상 */
    color: #fff;
    border: none;
}



.post-modal-footer .post-modal-cancel:hover{
    background-color: #777777;
    transition: background-color 0.3s ease; /* 호버 애니메이션 */
}

.post-modal-footer .post-modal-submit:hover {
    background-color: #0f1c3c;
    transition: background-color 0.3s ease; /* 호버 애니메이션 */
}

