.chatting-list-all-container {
  margin-top: 40px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  width: 100%;
}

/* chatroom-list-container에 Flexbox 적용 */
.chatting-list-container {
  background-color: #ffffff; /* 하얀색 배경 */
  padding: 20px;
  border-radius: 8px; /* 둥근 모서리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
  flex-grow: 1; /* 가로 크기를 더 유연하게 늘림 */
  max-width: 1200px; /* 최대 너비를 설정 */
  width: 100%; /* 가로 크기를 100%로 설정 */
  margin-left: auto;
  margin-right: auto; /* 중앙 정렬 */
}

.chatroom-list {
  margin: 0;
}

.chatroom-list-title {
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word; /* 긴 제목도 화면에 맞게 줄 바꿈 */
}

.chat-secret-icon {
  margin: 5px;
  padding-bottom: 5px;
}

.chatroom-pagination {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 버튼들을 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-top: 20px; /* 페이지네이션 위쪽에 간격 추가 */
  margin-bottom: 20px; /* 페이지네이션 아래쪽에 간격 추가 */
}

.chatroom-pagination button.active {
  background-color: #007bff;
  color: white;
}

.chatroom-pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.chatroom-pagination button:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}
